[user]
	email = 8475295+Ostoic@users.noreply.github.com
	name = Shaun Ostoic
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
